<form class="item" action="/user/questions/toall" method="post">
    <textarea cols="100" rows="10" name="question" placeholder="New Question" autocomplete="off" required></textarea>
    <button type="submit" name="list" value="submit">Submit</button>
</form>